# ── OS ──────────────────────────────────────────────────────────
.DS_Store
Thumbs.db
desktop.ini

# ── Editor ──────────────────────────────────────────────────────
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ── Env ─────────────────────────────────────────────────────────
.env
.env.*
!.env.example